<h1>calculate the square root of a number</h1>

<form action="/sqaure_root/results">
  <label for="giraffe">Enter a number</label>

  <input id="giraffe" type="text" name="users_number">

  <button>Calculate square root</button>
</form>
