<h1>calculate monthly paymentr</h1>

<form action="/payment/results">
  <label for="giraffe">Enter a APR</label>
  <input id="giraffe" type="text" name="users_APR">  
  <label for="zebra">Number of years</label>
  <input id="zebra" type="text" name="users_years">
  <label for="horse">Principal</label>
  <input id="horse" type="text" name="users_principal">
  <button>Calculate monthly payment</button>
</form>
