<h1>Random number</h1>

<form action="/random/results">
  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" name="users_minimum">  
  <label for="zebra">Maximum</label>
  <input id="zebra" type="text" name="users_maximum">
  <button>Pick random number</button>
</form>
