<h1>
  Square root Results
</h1>

<%= params %>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square root
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
</dl>

<a href="/squareroot/new">
  Calculate another square root
</a>
